.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}

/* 헤더 */
.header {
    width: 100%;
    height: 3.2rem;
    display: flex;
    flex-direction: row;
    background-color: skyblue;
}

/* 뒤로가기 버튼 */
.gotoHome {
    color: snow;
    font-size: 1.5rem;
    margin-left: 0.3rem;
}

.bikeB {
    background-color: lightgreen;
    width: 100%;
    height: 366px;
}

.bikeU {
    background-color: lightsalmon;
    width: 100%;
    height: 366px;
}