.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* 스크롤바 디자인 */
.products::-webkit-scrollbar {
    width: 0.15em;
}

.products::-webkit-scrollbar-thumb {
    background-color: lightgrey;
    border-radius: 1em;
}

/* 헤더 */
.header {
    width: 100%;
    height: 4%;
    display: flex;
    flex-direction: row;
    background-color: snow;
}

/* 뒤로가기 버튼 */
.gotoHome {
    color: skyblue;
    font-size: 1.5rem;
    margin-left: 0.3rem;
}

/* 사용중 자전거 */
.bikeUse {
    background-color: snow;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 48%;
}

/* 등록 자전거 */
.bikeRent {
    background-color: snow;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 48%;
}

.products {
    overflow-y: scroll;
    height: 90%;
}

.bikeTitle {
    height: 10%;
    width: 100%;
    text-align: center;
    background-color: skyblue;
}

.bikeTitle span {
    font-size: 24px;
    color: snow;
    text-align: center;
}