.product_item {
    display: flex;
    height: 17%;
    width: 100%;
    border-bottom: 1px solid red;
    padding: 1em 0.7em;
}
.imagesec {
    height: 100%;
    width: 30%;
    background-color: pink;
}

.descsec {
    height: 100%;
    width: 70%;
    background-color: lightblue;
    padding-right: 0.3em;
}

