.left_pop {
  position: absolute;
  display: block;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
}

.pop_menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: snow;
  width: 300px;
  height: 100vh;
}

.beforeLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  height: 90px;
  padding: 0.5rem 0;
  border-bottom: 1px solid lightgray;
}

.message {
  font-size: 0.8em;
  color: darkgray;
}

.move_login_page {
  font-size: 1.2em;
  font-weight: bold;
  color: skyblue;
  cursor: pointer;
}
