.footerMenu {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 3.5rem;
}

.footerBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  color: snow;
  cursor: pointer;
}

.btnName {
  font-size: 0.3em;
}

.footer {
  width: 100%;
  height: 3.5rem;
  background: skyblue;
  margin: 0;
  padding: 0;
}
