/* 댓글 */
.commentBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 24px;
  }
  
  .commentList {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0.4rem auto;
  }