.container {
    overflow: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

/* 헤더 */
.header {
    width: 100%;
    height: 3.2rem;
    display: flex;
    flex-direction: row;
    background-color: skyblue;
}

  /* 뒤로가기 버튼 */
.goBackBtn {
    color: white;
    font-size: 1.5rem;
    position: absolute;
    top: 8px;
    left: 4px;
}

.imgBox {
    width: 100%;
    text-align: center;
    position: relative;
}

.product_img {
    width: 100%;
}

.product_info {
    display: flex;
    flex-direction: column;
    margin:  0 0.5rem;
}

.userBox {
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.product_detail {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid lightgray;
}

.product_title {
    width: 100%;
    height: 30px;
}

.product_title > span {
    font-size: 1.1em;
    font-weight: 600;
}


.location {
    color: gray;
}

.product_description {
    width: 100%;
    margin: 1rem 0;
}


/* 댓글 */
.commentBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 24px;
}

.commentForm {
    display: flex;
    width: 100%;
    padding: 6px 0;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid lightgray;

}

.commentInput {
    width: 80%;
    height: 60px;
    resize: none;
    border-radius: 6px;
    border: 1px solid lightgray;
}

.commentInput:focus {
    outline: none;
    border-color: skyblue;
    color: whitesmoke;
  }

.commentSubmit {
    width: 15%;
    height: 36px;
    background-color: skyblue;
    color: whitesmoke;
    border-radius: 6px;
}

.comment {
    width: 100%;
    height: 60px;
    margin: 6px 0;
    background-color: darkgreen;
}






/* 스크롤바 디자인 */
.container::-webkit-scrollbar {
    width: 0.15em;
}

.container::-webkit-scrollbar-thumb {
    background-color: lightgrey;
    border-radius: 1em;
}