button {
  border: none;
  background: transparent;
}

.app {
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}
