button {
  border: none;
  background: transparent;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  height: 100vh;
}

@media screen and (max-width: 20000px) {
  .app {
    width: 375px;
  }
}
