.product_list {
    overflow: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

/* 스크롤바 디자인 */
.product_list::-webkit-scrollbar {
    width: 0.15em;
}

.product_list::-webkit-scrollbar-thumb {
    background-color: lightgrey;
    border-radius: 1em;
}


